---
import BaseLayout from '../layouts/BaseLayout.astro';
import Navbar from '../components/sections/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import QueHacemos from '../components/sections/QueHacemos.astro';
import Trabajos from '../components/sections/Trabajos.astro';
import ElProblema from '../components/sections/ElProblema.astro';
import ParaQuien from '../components/sections/ParaQuien.astro';
import Metodo from '../components/sections/Metodo.astro';
import RaicesDigitales from '../components/sections/RaicesDigitales.astro';
import ConQuienTrabajamos from '../components/sections/ConQuienTrabajamos.astro';
import Equipo from '../components/sections/Equipo.astro';
import FAQ from '../components/sections/FAQ.astro';
import CTAFinal from '../components/sections/CTAFinal.astro';
import Footer from '../components/sections/Footer.astro';
---

<BaseLayout>
  <a class="skip-link" href="#contenido">Saltar al contenido</a>
  <Navbar />
  <main id="contenido" tabindex="-1">
    <Hero />
    <QueHacemos />
    <Trabajos />
    <ElProblema />
    <ParaQuien />
    <Metodo />
    <RaicesDigitales />
    <ConQuienTrabajamos />
    <Equipo />
    <FAQ />
    <CTAFinal />
  </main>
  <Footer />
</BaseLayout>
